body {
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.dropdown {
    min-width: 240px;
    margin: 32px;
    position: relative;
    box-sizing: border-box;
}

.select {
    background-color: white;
    color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px white solid;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
}

.select:hover {
    background-color: lightgrey;
}

.arrow {
    width: 0; height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid darkslategray;
}

.menu {
    list-style: none;
    padding: 10px 10px;
    background-color: white;
    color: darkslategray;
    border: 1px white solid;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    position: absolute;
    width: 90%;
    display: none;
    opacity: 0;
    border-radius: 4px;
    z-index: 1;
}

.menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.menu li:hover {
    background-color: lightgrey;
}

.menu-open {
    display: block;
    opacity: 1;
}