* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: lightblue;
  z-index: 2;
}

main {
  position: relative;
  width: calc(100vw - 200px);
  min-height: 100vh;
  height: 1500px;
  margin-left:200px;
}

.main_container {
  position: relative;
  width: 840px;
  height: 100%;
  float: left;
  background-color: cornflowerblue;
}

aside {
  position: relative;
  width: 400px;
  height: 100%;
  float: left;
  background-color: deepskyblue;
}

.kolom1 {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: cornsilk;
}

.kolom2 {
  position: relative;
  width: 100%;
  height: 60%;
  background-color: floralwhite;
}

.kotak1 {
  position: relative;
  width: 90%; height: 80px;
  margin-left: 5%; margin-right: 5%; margin-top: 40px;
  float: left;
  background-color: peachpuff;
}

.kotak2 {
  position: relative;
  width: 75%; height: 80px;
  margin-left: 5%; margin-right: 20%; margin-top: 20px; margin-bottom: 20px;
  float: left;
  background-color: peachpuff;
}

.kotak3 {
  position: relative;
  width: 90%; height: 40px;
  margin-left: 5%; margin-right: 5%; margin-top: 20px;
  float: left;
  background-color: peachpuff;
}

table.table1 {
  border-collapse: collapse;
  border: 1px solid deepskyblue;
  margin: 10%;
  width: 80%;
}

table.table1 td {
  border: 1px solid deepskyblue;
}

table.table1 td:nth-child(1) {
  width: 40%;
}

table.table1 td:nth-child(2) {
  width: 60%;
}

.kotak4 {
  position: relative;
  width: 100px; height: 80px;
  margin:10%;
  background-color: aliceblue;
}

.kotak5 {
  position: relative;
  width: 100%; height: 30px;
  background-color: aliceblue;
}

@media (min-width: 601px) and (max-width: 1440px) {
  .main_container, aside {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 600px) {
  nav {
    width: 100vw;
    height: 60px;
  }

  main {
    width: 100vw;
    margin-left: 0px;
    margin-top: 60px;
  }
  .main_container, aside {
    width: 100%;
    height: 50%;
  } 
}