.container {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 50px auto;
}

.kolom1 {
    position: relative;
    width: 47%;
    margin-right: 3%;
    height: 100%;
    float: left;
}

.kolom2 {
    position: relative;
    width: 47%; 
    margin-left: 3%;
    height: 100%;
    float: left;
}

.kolom1 .atas {
    position: relative;
    width: 100%;
    height: 50%;
}

.kolom1 .bawah {
    position: relative;
    width: 100%;
    height: 50%;
}

.kolom2 .atas {
    position: relative;
    width: 100%;
    height: 50%;
}

.kolom2 .bawah {
    position: relative;
    width: 100%;
    height: 50%;
}

.title1 {
    font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-size: 26px;
    background-color: rgba(100,99,104,255);
    color: white;
    height: 45px;
    padding-top: 12px; padding-left: 18px;
}

.isi {
    padding-left: 5%;
    width: 95%;
}

table.table1 {
    border-collapse: collapse;
    border: 1px solid rgb(182, 182, 182);
    margin-top: 5px; margin-left: 3%;
    width: 97%;
}

table.table1 th {
    background-color: rgba(100,99,104,255); border: 1px solid rgb(182, 182, 182);
    font-family: 'Source Sans Pro', sans-serif;font-size: 19px; font-weight: normal;
    padding-left: 8px; padding-top: 5px; padding-bottom: 5px;
    vertical-align: 0px;
    height: 40px;
    line-height: 110%;
    text-align: left;
    color: white;
}

table.table1 td {
    background-color: rgba(255,255,255,255); border: 1px solid rgb(182, 182, 182);
    color: black;
    padding-left: 5px;
    vertical-align: 0px;
}

table.table1 td {
    font-size: 18px;
}

table.table1 td:nth-child(1) {
    line-height: 140%;
    font-family: 'Montserrat', sans-serif; font-weight: bold;
}

table.table1 td:nth-child(2) {
    font-family: 'Source Sans Pro', sans-serif; font-weight: lighter;
}

table.table1 td:nth-child(3) {
    font-family: 'Montserrat', sans-serif; font-weight: bold;
}

table.table1 th:nth-child(1) {
    width: 75px;
}

table.table1 th:nth-child(2) {
    width: 230px;
}

table.table1 th:nth-child(3) {
    width: 60px;
}

.title2 {
    font-family: 'Source Sans Pro', sans-serif; font-size: 35px; font-weight: 600;
    line-height: 100%;
    margin-top: 25px;
    height: 40px;
    color: rgb(41, 189, 41);
}

hr.hr1 {
    border: 1px solid rgb(41, 189, 41);
    width: 80%; height: 2px;
    margin-left: 0px; margin-top: 32px;
    background: rgb(41, 189, 41);
}

.info {
    font-family: 'Source Sans Pro', sans-serif; font-size: 15px; font-weight: 600;
    margin-left: 0px;
    line-height: 120%;
}

p {
    font-family: 'Source Sans Pro', sans-serif; font-size: 15px;
    margin: 0px;
}

ul {
    font-family: 'Source Sans Pro', sans-serif; font-size: 15px;
    margin: 0px;
    color: grey;
}

li {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: -15px;
    font-size: 15px;
}

.title3 {
    font-family: 'Source Sans Pro', sans-serif;font-weight: normal;
    color: rgba(34,30,31,255);
    padding-top: 10px;
    font-size: 30px;
    float: right;
}

.title4 {
    font-family: 'Source Sans Pro', sans-serif;
    height: fit-content;
    color: rgba(34,30,31,255);
    margin-top: -27px; margin-bottom: -27px;
    padding-left: 80px;
    font-size: 165px;
    float: right;
}

.chatbox {
    font-family: 'Oswald', sans-serif; color: rgba(34,30,31,255);font-weight: bold; font-size: 17px;
    height: 70px; width: 200px;
    line-height: 140%;
    padding: 8px; padding-left: 12px; padding-right: 15px; margin-top: 12px;
    background-color: rgba(233,219,236,255);
    border-radius: 5px;
    float: right;

}

.Routes {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: -5px;
    font-size: 25px;
}

hr.hr2 {
    margin-top: 5px; margin-bottom: 0px;
    height: 1px; width: 100%;
    border: 1px solid steelblue;
    background: steelblue;
    float: right;
}

table.table2 {
    border-collapse: collapse;
    border: 1px solid white;
    margin-top: 5px;
    width: 90%;
}

table.table2 td {
    border: 1px solid white;
}

table.table2 td:nth-child(1) {
    width: 20%;
    vertical-align: 0px;
    padding-top: 8px;
    font-family: 'Montserrat', sans-serif; font-weight: bolder; font-size: 35px;
}

table.table2 td:nth-child(2) {
    width: 35%;
    font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-size: 17px;
}

table.table2 td:nth-child(3) {
    padding-left: 48%;
    width: 45%;
    vertical-align: 0px;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }

    .kolom1, .kolom2 {
        width: 100%;
        margin: 0px;
        margin-bottom: 15px;
    }
}